
@media (max-width : 768px){
    .header .navbar a{
        display: block;
        text-align: center;
        font-size: 1.8rem;
        margin: 2rem 2.5rem;
        width: 100%;
        z-index: 25;
    }
}
.products{
    margin-top:10rem
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
.box{
    margin-right: 1.5rem; 
    background-color: var(--backSecond-color-light);
    box-shadow:1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 1.5rem 1rem;
    padding: 1rem 1.5rem;
    position: relative;
    width: 100%
}
.box .box-img{
   width:100%;
   height: 200px
}
.box .box-img img{
    width:100%;
    height: 100%
}
.product-info h3{
    background-color: var(--main-color-light);
    padding: 1rem 1.4rem;
    display: inline-block;
    clip-path: polygon(100% 0 , 93% 50% , 100% 95% , 0% 100% , 7% 50% , 0 0 );
    font-weight: bold;
    font-size:2rem;
    margin: 10px 0;
}
.date-img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 30px;
}
.date-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 90px;
}