@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;700;800&display=swap');
:root{
    /*--------light-theme--------*/
    --main-color-light:#fb743e;
    --text-color-light:#383e56;
    --background-color-light:rgb(230, 225, 223);
    --backSecond-color-light:#B4B4B3;
    --backOwl-color-light:#B4B4B3;
    --backThird-color-light:#AAAAAA;
    --hover-color-light:#d86a3f;
    --black-text: #222831;
    --text-shadow:  2px 1px #000;
    /*--------dark-theme--------*/

    /*------shadow-------------*/
    --box-shadow:0 .5rem 1rem rgba(0 , 0 , 0 ,0.1);
}
.dark-theme{
    --main-color-light:#ff5722;
    --text-color-light:#eeeeee;
    --background-color-light:#222831;
    --backSecond-color-light:#2b3441;
    --backOwl-color-light:#aab6b1;
    --backThird-color-light:#334052;
    --hover-color-light:#ff6c00;
    --hover-text-light: #ffffff;
    --black-text: #fff
}
/*-----------general Elements---------------*/
*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    transition: all .2s linear;
}

a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
    font-size: 62.7%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}
body{
    background-color: var(--background-color-light);
    color: var(--text-color-light)
}
section{
    padding: 2rem 9%;
}
h2{
    font-size: 3rem
}
h5{
    font-size: 1.7rem
}
strong{
    color: var(--background-color-light);
    background-color: var(--main-color-light);
    padding:.5rem 3rem;
    display: inline-block;
    clip-path: polygon(100% 0 , 93% 50% , 100% 95% , 0% 100% , 7% 50% , 0 0 )
}
.section{
    margin-top: 10rem;
}
/*-----------Header---------------*/
.header{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-light);
    z-index: 20;
}
.header .logo .img_logo{
    width: 9.2rem;
}
.header .navbar a{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 1rem;
    color: var(--text-color-light)
}
nav{
    background-color:none;
    border: none;
    text-align: center;
    box-shadow: none
}
.header .navbar a:hover{
    color: var(--hover-color-light)
}
.header .icons {
    font-size: 1.5rem;
    margin: 0 8px;
    display: flex;
    align-items: center
}
.header .icons .icon{
    margin:0 6px;
    cursor: pointer;
}
.header .icons .icon:hover{
    transform: scale(1.2)
}
.header .icons .icon .img_flag{
    width:3rem;
}
.header .icons .icon i{
    font-size: 3rem;
    color: var(--text-color-light);
    display: none;
    cursor: pointer;
}

/*----------------media-query------------*/
@media (max-width : 991px){
    html{
        font-size: 62.7%;
    }
    .header{
        padding: 2rem
    }
    section{
        padding: 2rem 
    }
}
@media (max-width : 768px){
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--backSecond-color-light);
        height: auto;
    }
    .header .navbar.active{
        right: 3rem;
        transition: .5s linear
    }
    .header .icons .icon i{
        display: inline-block;
    }
    .header .icons .icon{
        margin-right: 5px
    }
    .header .navbar a{
        display: block;
        text-align: center;
        font-size: 1.8rem;
        margin: 2rem 2.5rem;
        width: 100%;
        z-index: 25;
    }
    .home .content h1{
        font-size: 3rem;
    }
    .about .about-text{
        padding-top: 3.5rem;
        line-height: 2
    }
    .about-img{
        width: 100%;
        height: 370px
    }
    .about-img img{
        width: 100%;
        height: 100%
    }
    .card{
        margin-bottom: 15px
    }
    .social-icons .social-icon{
        display:inline-block;
        margin-right: 1.5rem;
    }
}
@media (max-width : 450px){
    html{
        font-size: 50%;
    }
    .home .content h1{
        font-size: 1.7rem;
    }
    .about .about-text{
        padding-top: 2.5rem
    }
    .card .card-btn{
        width: 50%;
    }
}
@media (max-width : 350px){
    .card .card-btn{
        width: 70%;
    }
}
/*-----------Home--------------*/
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/dates4.webp) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 500px
}
.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay color with 0.5 opacity */
}
.home .content{
    text-align: center;
    width: 60%;
    z-index: 1;
}
.home .content h1{
    font-size: 3.5rem;
    color: var(--main-color-light);
    text-shadow: var(--text-shadow)
}
/*------------about------------------------*/
.about{
    background-color: var(--backSecond-color-light)
}
.about .about-text{
    padding-top: 5.5rem
}
.about .about-text h5{
    margin-top: 3rem
    
}
.about-para{
    line-height:2
}
/*----------------Goals-----------------------*/
.goals{
    margin-top: 10rem;
}
.goals .goals-text{
    padding-top: 2rem
}
.goal-text{
    padding: 5px 10px;
    margin-top: 1.5rem;
    font-size:1.8rem;
    background-color: var(--backThird-color-light)
}
.goal-text:nth-child(even){
    background-color: var(--backSecond-color-light)
}
/*----------products--------------------------*/
.products .products-title{
    text-align: center
}
.products-content{
    margin-top: 6rem
}
.card{
    padding: 0;
    box-shadow: var(--box-shadow);
    background-color: var(--backSecond-color-light);
    border-radius: 10px;
}
.card:hover{
    transform: translateY(-15px)
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card h3{
    font-size: 2.9rem;
    text-align: center;
    padding: .8rem
}
.card p{
    font-size: 1.7rem;
    padding: 1rem;
    text-align: center
}
.card .card-btn{
    display: block;
    width: 30%;
    height: 50px;
    margin:10px auto;
    background-color: var(--main-color-light);
    text-align: center;
    border:none;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    transition: .5s all;
    color: #c5d7bd;
    line-height: 50px;
}
.card a{
    color:var(--text-color-light);
    transition: .5s color
}
.card a:hover{
    color: var(--background-color-light)
}
.card .card-btn:hover{
    background-color: var(--hover-color-light);
}
/*---------------Brands---------------*/
.brands-title{
    text-align: center;
    margin-bottom: 3rem;
}
.item{
    height: 200px;
    width: 100%;
    background-color: var(--backOwl-color-light)
}
.item img{
    height: 100%;
    width: 100%;
}
/*---------------./Brands-------------*/
/*--------------footer------------*/
footer{
    background-color: var(--backSecond-color-light)
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center
}
.footer-content{
    text-align: center;
    margin-top: 15px
}
.footer-content h3{
    font-size: 2rem;
    margin-bottom: 1.3rem;
    color:var(--main-color-light)
}
.footer-content p{
    font-size: 1.5rem
}
.footer-content a{
    display: block;
    font-size: 1.7rem;
    color: var(--text-color-light);
    margin-bottom: 5px
}
.footer-content a:hover{
    color:var(--hover-color-light)
}
.social-icons i{
    font-size: 2.3rem
}
.social-icons i:hover{
    transform: scale(1.3);
    color:var(--main-color-light)
}
.footer-tail{
    text-align: center;
    background-color: var(--backThird-color-light);
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 15px 0;
    font-size: 1.3rem;
}
